# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\基于java开发的项目\Niceschool-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
